@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <h1>Welcome to TBDB.</h1>
    <h4 >Lab 005 for CSIS 4185.</h4>
</div>
<div class="col">
    <a href="/Movies" class="btn btn-success" >Enter the Database</a>
</div>